[submodule "minishell"]
	path = minishell
	url = https://github.com/326eunjin/minishell.git
[submodule "cub3d"]
	path = cub3d
	url = https://github.com/326eunjin/cub3d.git
[submodule "webserv"]
	path = webserv
	url = https://github.com/Jay13Jeong/soo-je-webserver
[submodule "ft_containers"]
	path = ft_containers
	url = https://github.com/yoouyeon/ft_containers.git
